body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;

    /* Centraliza o conteúdo na tela */
    display: flex; /*Usa flexbox para layout */
    justify-content: center;/*Usa flexbox para layout*/
    align-items: center; /* Centraliza verticalmente*/

    /* Defiine a altura da tela para 100% da altura da janela*/
    height: 100vh;/*O corpo ocupa toda a altura visível da tela */
    margin: 0;/* Remove a margem padrão da página*/
}

/* Estilo do formulário*/
form {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 0 0 10px #1212121a; 
    width: 300px;
}

/* Estilo dos labels */
label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

/*  Estilo dos campos de entrada */
input[type='text'],
input[type='email'],
input[type='password'] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    /*Faz com que o tamanho de um elemento inclua padding e bordas, mantendo a largura e altura total como você definiu*/
    box-sizing: border-box;

}
